* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    /* height: 1500px; */
}

.main {
    height: 700px;
    background-image: url("../assests/bg.jpg");
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
    background-position: center center;
    position: relative;
    /* display: flex;
    flex-direction: column; */
}

.main .box {
    width: 100%;
    height: 700px;
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    /* left: 0; */
}

.nav {
    height: 100px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo img {
    height: 80px;
    position: relative;
    z-index: 10;
}

.nav .btn {
    /* display: flex;
    justify-content: ceneter;
    gap: 10px; */
    position: relative;
    z-index: 10;
}

.nav .btn .btn-english {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: white;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    cursor: pointer;
}
.nav .btn .btn-english:hover{
    transform: scale(1.05) ;
}
.nav .btn .btn-english:active{
    background-color: red;
}

.nav .btn .btn-sign {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: white;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem - 1rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 0.5rem);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    background-color: rgba(255, 0, 0, 0.7);
    cursor: pointer;
}
.nav .btn .btn-sign:hover{
    transform: scale(1.05);
    color: rgb(153, 151, 151);
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    width: 500px;
    margin: auto;
    /* padding: 0 30px; */
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .hero-buttons input {
    padding: 18px 20px 20px 14px;
    color: white;
    width: 210px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);

}
.hero .hero-buttons input:hover{
    transform: scale(1.05);
}
.hero .hero-buttons .btn-red {
    background-color: red;
    color: white;
    padding: 15px 24px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
.hero .hero-buttons .btn-red:hover{
    transform: scale(1.05);
    color: rgb(167, 163, 163);
}

/* .separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
} */
h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin: 20px 30px;
}

#sec {
    width: 90vw;
    margin: auto;
}

.content {
    /* height: 800px; */
    width: 90vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: auto;
    gap: 23px;
    /* position: relative; */
}

.content .poster {
    height: 270px;
    width: 200px;
    background-image: url("assests/img/img1.jpg");
    border-radius: 5px;
    overflow: hidden;
    /* position: relative;
     z-index: 2; */
}

.content .poster:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 5px 5px 2px 1px rgb(46, 44, 44);
    ;
}

.content .poster1 {
    height: 300px;
    width: 200px;
    background-image: url("assests/img/img1.jpg");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
}

/* .poster img{
        position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;

} */
.poster img {
    height: 270px;
    width: 200px;
}

#grid {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}

#grid .xbox {
    height: 150px;
    width: 460px;
    border-radius: 20px;
    background: linear-gradient(135deg, #092036 0%, #250a1d 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: auto;
}
#grid .xbox:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.xbox> :nth-child(1) {
    color: white;
    font-size: 21px;
    margin: 10px 0;

}

.xbox> :nth-child(2) {
    color: rgb(153, 151, 151);
}

.question {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.question .item {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 31, 31);
    padding: 0 25px;
    border-radius: 2px;
}
.question .item img{
    height: 40px;
    filter: invert(1);
    
}

.question .item:hover {
    background-color: rgb(54, 52, 52);
    cursor: pointer;
}

.question .item> :nth-child(1) {
    font-size: 24px;
    color: white;
}

#sec1 {
    width: 80vw;
    margin: 70px auto;
    margin-bottom: 10px;
}

#sec1 p{
    text-align: center;
    color: white;
    margin: 10px auto;
}

.last-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.last-buttons input {
    padding: 18px 20px 20px 14px;
    color: rgb(57, 54, 54);
    width: 300px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgba(32, 31, 31, 0.7);

}
.last-buttons input:hover{
    transform: scale(1.05);
}
.last-buttons .btn-red {
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
.last-buttons .btn-red:hover{
    transform: scale(1.05);
    /* color: rgb(255, 255, 255); */
}
.footer{
    width: 80vw;
    margin: 80px auto;
}
#footer1{
    /* width: 80vw; */
    margin-bottom: 50px;
}
#footer1 p{
     color: rgb(153, 151, 151);
}
#footer1 p a{
     color: rgb(153, 151, 151);
}

#footer2{
    /* width: 80vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#footer2 a{
    color: rgb(153, 151, 151);
}
#footer3{
    margin: 50px 0;
}
#footer3 .btn-english {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: white;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    cursor: pointer;
}
#footer3 .btn-english:active{
    background-color: red;
}
#footer4{
    /* width: 80vw; */
    margin-bottom: 50px;
}
#footer4 p{
     color: rgb(153, 151, 151);
}

/* @media (min-width:1500px) and(max-width:2000px){
    #grid {
        grid-template-columns: 1fr 1fr;
    }
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */
@media (max-width:1100px){
    #grid .xbox {
    height: 200px;
    width: 350px;
}
}
@media (max-width:840px){
    .content .poster {
        height: 270px;
        width: 230px;
    }

    .poster img {
        width: 230px;
    }

    #grid {
        grid-template-columns: 1fr;
    }
    #grid .xbox {
    height: 150px;
    width: 450px;
}
    #footer2{
        grid-template-columns: 1fr 1fr;
    }
}